@media screen and (max-width:940px){
    .barnav{
        position: relative;
    }
    .Menu{
        display: none;
    }
    .logo{
        margin: 0;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .Menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #8b4513;
        position: absolute;
        top: 50px;
        width: 100%;
    }
    .Menu a {
        padding: 15px 0;
        width: 100%;
        text-align: center;
        border-top: 1px solid #fff8dc;
    }
    .menu-toggle {
        display: block;
    }